body {
  font-size: 90%;
  line-height: 1.5;
}

.kpi-banner {

}

.header-top__item {
  position: relative;
  border-radius: 5%;
  height: 50px;
  &.no-box {
    text-align: center;
    background: $white;
    padding: 1em 0;
  }
  & h1 {
    margin: 0;
  }
  & > div {
    display: inline-block;
  }
  .text-content {
    border-radius: 10px;
    background: $color-container;
    width: 79%;
    height: 100%;
    line-height: 1;
  }
  &.positive {
    .rating__element {
      background: url("../images/big_up_arrow.png") #6dbd58;
      background-size: 100%;
    }
  }
  &.negative {
    .rating__element {
      background: url('../images/big_down_arrow.png') $color-negative;
      background-size: 100%;
    }
  }
  &.left {
    .rating__element {
      left: -5%;
      top: 50%;
    }
    .text-content {
      padding: 0;
      margin-left: 10px;
      text-align: center;
      width: 100%;
      & span {
        position: relative;
        top: 1rem;
        width: 100%;
        display: block;
        font-size: 1.2em;
        text-align: center;
      }
    }
  }
  &.right {
    .rating__element {
      right: -5%;
      top: 50%;
    }
    .text-content {
      margin-right: 10px;
      padding: 0;
      text-align: center;
      width: 100%;
      & span {
        position: relative;
        top: 1rem;
        width: 100%;
        display: block;
        font-size: 1.2em;
        text-align: center;
      }
    }
  }
}

/* Styling of rating element */
.rating__element {
  &.small {
    margin-left: -0.6rem;
  }
}

/*Peak Time Section*/
.peak-time {
  width: 60%;
  min-height: 125px;
  margin-bottom: 6rem;
  .valign div {
    margin: 0 1rem;
  }
  + .footnotes {
    float: right;
  }
  div:first-child {
     background-color: $bar-blue;
     color: $white;
   }
  div:nth-child(2) {
    width: 10%;
    background-color: $color-container;
  }
  div:nth-child(3) {
    background-color: $white;
    color: black;
    border: 1px solid $table-gray;
  }
}

/*Top Three Products*/
.top-three {
  & table {
    width: 100%;
    /*float: left;*/
    margin: 0 1rem 2rem;
    border: none;
  }
  & td {
    width: auto;
    height: 50px;
  }
  & th:first-child {
    width: 1%;
  }
  & th:nth-child(2) {
    width: 5%;
  }
  & th:nth-child(3) {
    width: 5%;
  }
  & th:nth-child(4) {
    width: 5%;
  }
  & th:nth-child(5) {
    width: 5%;
  }
  & th:nth-child(6) {
    width: 10%;
  }
}
