/*Report Header */
.header-top {
  margin-top: 2rem;
}

.header-top__item {
  background: #f4f3f3;
  h2 {
    line-height: 0;
    margin: 0;
  }
  &.left {
    .rating__element {
      left: 11px;
      top: 42px;
      position: absolute;
      z-index: 1;
    }
    .text-content {
      padding: 1em 0 1em 0;
      margin-left: 6rem;
      width: 70%;
      & span {
        position: relative;
        top: 1rem;
        margin: 0 0.2rem;
        width: 96.8%;
        display: block;
        font-size: 1.2em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  &.right {
    .rating__element {
      right: 11px;
      top: 42px;
      position: absolute;
      z-index: 1;
    }
    .text-content {
      padding: 1em 0 1em 0;
      margin-right: 6rem;
      width: 70%;
      & span {
        position: relative;
        top: 1rem;
        margin: 0 0.2rem;
        width: 96.8%;
        display: block;
        font-size: 1.2em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}


/* Styling of rating element */
.rating__element {
  &.small {
    margin-left: 0.4rem;
  }
}

/* Styling of the bigger KPI-Container */

.kpi-container {
  & h1, h2, h3, h4 {
    font-weight: 200;
  }
}

.kpi-banner {
  h1, h2, h3, h4 {
    color: $font-gray;
  }
  h1, h2, h3, h4 {
    font-weight: 200;
  }
  h3 {
    font-size: 1.55em;
  }
  &.first {
    padding: 0 13px;
  }
  &.last {
    padding: 0 13px;
  }
  &.negative {
    .kpi-display-circle {
    }
  }
  &.positive {
    .kpi-display-circle {
    }
  }
  .kpi-container__content {
  }
}

.kpi-display-circle {
  & > div {
    padding-top: 1.5rem;
    > h1 {
      font-size: 3rem;
      font-weight: bold;
      line-height: 0;
    }
  }
}

.kpi-stats {
  @include grey-box;
  padding-top: 1rem;
  & .h-24 {
    color: $font-gray;
    font-weight: 200;
  }
}

/*Tables*/
.g-table {
  font-size: 1.125em;
  line-height: 1.22222222;
  margin-bottom: 1rem;
  & .rating__element {
    &.small {
      width: 25px;
      height: 25px;
      top: 17px;
    }
  }
  &.table {
    border:none;
    border-collapse: separate;
  }
  & thead {
    background: none;
    color: $line-gray;
  }
  & thead th:first-child {
    position:relative;
  }
  & th:first-child.positive, th:first-child.negative {
     span {
      margin-left: 1.8rem;
    }
  }
  & th {
    font-weight: 400;
  }
  & tr:nth-child(2n-1) td {
    background-color: $table-bg;
  }
  & td, th {
    border-bottom: none;
    height: 0px;
  }
}

.report-table {
  & tr td:nth-child(2) {
    font-weight: bold;
  }
  &.table:nth-child(2) td:nth-child(3) {
    color: $color-positive;
  }
  &.table:nth-child(3) td:nth-child(3) {
    color: $color-negative;
  }
}

.customer-table {
  & td {
    height: 40px;
  }
  & tr td:nth-child(2) {
    font-weight: bold;
  }
  & tr td:nth-child(3) {
    font-weight: bold;
  }
  & tr td:nth-child(4) {
    font-weight: bold;
  }
}

.top-table {
  td {
    height: 50px;
  }
  &.table:nth-child(2) td:nth-child(3) {
    color: $table-gray;
  }
  &.table:nth-child(3) td:nth-child(3) {
    color: $table-gray;
  }
  td:nth-child(2) {
    width: 43%;
  }
  & tr td:nth-child(2) {
    font-weight: normal;
  }
  & tr td:last-child {
    font-weight: bold;
  }
}

/*Top Products of Benchmark*/
.top-products {
  td {
    height: 45px;
  }
  & tr td:nth-child(1) {
    width: 1%;
  }
  & tr td:nth-child(2) {
    width: 63%;
  }
}

/*Line Comp Charts*/
.chart {
  rect:first-child {
    fill: $bar-blue;
  }
  rect:nth-child(2) {
    fill: $white;
    stroke: $bar-stroke-gray;
  }
  text {
    fill: black;
    font-size: 1.125em;;
    color: $font-gray;
  }
  text:nth-child(3) {
    font-weight: bold;
  }
}
.line-comp-percentage div {
  width: 20%;
  display: inline-block;
  margin-right: 1.3rem;
}

/*General box elements*/
.gray-box {
  background: #f4f3f3;
  border-radius: 10px;
  padding: 1rem 0;
  position: relative;
  overflow: hidden;
}

.lh {
  line-height: 0.4;
}

.net-promoter {
  position: relative;
  & .halfpie-fixed {
    margin: 0 2rem;
  }
  & div:nth-child(3) {

  }
  & div:nth-child(3) span {
    display: block;
    margin: 1.3rem 0;
  }
}

/* Rectangle Chart*/
.rectchart {
  padding-top: 1rem;
}

/*Footnotes*/
.footnotes {
  color: $line-gray;
  font-weight: 100;
  margin-right: 2rem;
  div {
    display: inline-block;
  }
}

.benchmark {
  .footnotes {
    padding-left: 8.7rem;
    padding-top: 0.9rem;
  }
}

/*Peak Time Footnotes*/
.blue-box {
  background-color: $bar-blue;
  border: 1px solid $bar-blue;
  height: 10px;
  width: 10px;
}

.white-box {
  background-color: $white;
  border: 1px solid $line-gray;
  height: 10px;
  width: 10px;
}

/*
World-Map*/
.wm {
  min-height: 542px;
  background: url("../images/wm.png") $color-container;
  background-size: 100%;
  background-position-y: 9rem;
  background-repeat: no-repeat;
}

/*Down arrow*/
.arrow-down:after {
  background: url("../images/blue_down_arrow.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 16px;
  min-height: 16px;
  content: '';
  position: absolute;
  bottom: 10px;
  margin-left: 0.5rem;
}

.average-product-rating {
  height: 335px;
  overflow: visible;
}
