/* Mixin that generates the rating element for the header and the KPI-Container*/
@mixin rating-element($size) {
  margin-top: -($size/2);
  height: $size;
  width: $size;
}

@mixin rating-element-small($size) {
  margin-top: -($size/4);
  margin-left: -($size/4);
  height: $size;
  width: $size;
  top: 0;
}

/* Variables like Color Values */
$color-negative: #f27779;
$color-positive: #6dbd58;
$color-container: #f4f3f3;
$white: #ffffff;
$color-brightblue: #1b9ad6;
$line-gray: #949090;
$font-gray: #565150;
$table-bg: #f9f9f9;
$bar-blue: #009cdf;
$bar-stroke-gray: #c6c4c3;
$chart-font: #393c3d;

/* Using that to use padding to position elements inside the containers without changing the width */
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Setting min and max width */
.container {
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
}

/* Header styling */
.header-top {
  padding: 1em 0;
  margin-top: 2rem;
}

/*
.header-top__item {
  position: relative;
  border-radius: 5%;
  &.no-box {
    text-align: center;
    background: $white;
    padding: 1em 0;
  }
  & h1 {
    margin: 0;
  }
  & > div {
    display: inline-block;
  }
  .text-content {
    border-radius: 10px;
    background: $color-container;
    width: 79%;
    height: 100%;
    line-height: 1;
  }
  &.positive {
    .rating__element {
      background: url("../images/big_up_arrow.png") #6dbd58;
      background-size: 100%;
    }
  }
  &.negative {
    .rating__element {
      background: url('../images/big_down_arrow.png') $color-negative;
      background-size: 100%;
    }
  }
  &.left {
    .rating__element {
      left: 0;
      top: 42px;
    }
    .text-content {
      padding: 1em 0 1em 4.5em;
      margin-left: 10px;
      min-height: 50px;
      text-align: center;
      & span {
        position: relative;
        top: 1rem;
        margin: 0 -0.6rem;
        width: 100%;
        display: block;
        font-size: 1.2em;
      }
    }
  }
  &.right {
    .rating__element {
      right: 0;
      top: 42px;
    }
    .text-content {
      margin-right: 10px;
      text-align: right;
      padding: 1em 4.5em 1em 0;
      min-height: 50px;
      text-align: center;
      & span {
        position: relative;
        top: 1rem;
        margin: 0 0.6rem;
        width: 100%;
        display: block;
        font-size: 1.2em;
      }
    }
  }
}
*/

/* Styling of rating element */
.rating__element {
  position: absolute;
  top: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  @include rating-element(100px);
  &.small {
    @include rating-element-small(48px);
  }
}

.element__content {
  text-align: center;
  color: $white;
  margin-top: 60%;
}

span.positive {
    color: $color-positive;
}

.positive {
  .rating__element {
    background: url('../images/small_up_arrow.png') $color-positive;
    background-size: 100%;
  }
}

span.negative {
  color: $color-negative;
}

.negative {
  .rating__element {
    background: url('../images/small_down_arrow.png') $color-negative;
    background-size: 100%;
  }
}

/* Styling of the bigger KPI-Container */

.kpi-banner {
  position: relative;
  margin-bottom: 13px;
  color: $line-gray;
  &:last-child {
    margin-right: 0;
  }
  &.negative {
    .kpi-display-circle {
      border-color: $color-negative;
    }
    .change-color {
      color: $color-negative;
    }
  }
  &.positive {
    .kpi-display-circle {
      border-color: $color-positive;
    }
    .change-color {
      color: $color-positive;
    }
  }
  .kpi-container__content {
    background: $color-container;
    overflow: hidden;
    text-align: center;
    border-radius: 4%;
    padding-bottom: 1.3rem;
  }
}

.kpi-display-circle {
  border: 7px solid black;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  background: $white;
  margin-bottom: 20px;
}

.linechart {
  margin: 10px 0;
  path {
    stroke: $line-gray;
    stroke-width: 2;
    fill: none;
  }
}

table {
  width: 100%;
}

/*What went up & down table stylings*/
.pure-table-horizontal td, .pure-table-horizontal th {
  width: 20%;
}

.margin-bottom {
  margin-bottom: 6rem;
}

/*Half Pie stylings*/
.halfpie {
  position: relative;
}

.halfpie div:nth-child(1) {
  position: absolute;
  top: 2.3rem;
  left: 4.5rem;
}

.halfpie div:nth-child(2) {
  width: 200px;
  margin-left: 6.6rem;
}

.halfpie div:nth-child(3) {
  position: absolute;
  right: 4.5rem;
  top: 2.3rem;
}

.halfpie div:nth-child(4) {
  position: absolute;
  top: 3.3rem;
  left: 11.3rem;
}

/*Half Pie Fixed width stylings*/
.halfpie-fixed {
  position: relative;
  width: 260px;
  margin: 0 auto;
  color: $chart-font;
  & div:nth-child(1) {
    float: left;
    margin-top: 2.4rem;
  }
  & div:nth-child(2) {
    width: 200px;
    float: left;
  }
  & div:nth-child(3) {
    float: left;
    margin-top: 2.5rem;
  }
  & div:nth-child(4) {
    position: absolute;
    top: 2.7rem;
    left: 38.7%;
  }
}

/*Full Pie stylings*/
.fullpie {
  position: relative;
  width: 93%;
  margin: 0 1rem;
  color: $chart-font;
  & div:nth-child(1) {
    float: left;
    margin-top: 2.4rem;
  }
  & div:nth-child(2) {
    width: 150px;
    float: left;
  }
  & div:nth-child(3) {
    float: left;
    position: relative;
    width: 50%;
    padding-top: 1.5rem;
  }
  & div:nth-child(4) {
    float: left;
    padding-top: 1rem;
    position: relative;
    width: 50%;
  }
}

/*Rectangle Chart Stylings*/
.rectchart {
  & .big {
    font-size: 30px;
    fill: white;
  }
  & .small {
    font-size: 14px;
    fill: white;
  }
}

/*Top Selling Products*/
.top-sell {
  & table {
    width: 47%;
    float: left;
    margin: 0 1rem 2rem;
    border: none;
  }
  & td:first-child {
    width: 1%;
  }
  & td:nth-child(2) {
    width: 67%;
  }
  & td:nth-child(3) {
    width: 17%;
  }
  & td:nth-child(4) {
    width: 15%;
  }
}

/*Top Three Products*/
.top-three {
  & table {
    width: 100%;
    /*float: left;*/
    margin: 0 1rem 2rem;
    border: none;
  }
  & td {
    width: auto;
  }
  & th:first-child {
    width: 1%;
  }
  & th:nth-child(2) {
    width: 5%;
  }
  & th:nth-child(3) {
    width: 5%;
  }
  & th:nth-child(4) {
    width: 5%;
  }
  & th:nth-child(5) {
    width: 5%;
  }
  & th:nth-child(6) {
    width: 10%;
  }
}

/*Star rating system*/
.rating {
  background: url(../images/report_star_blue.png) repeat-x top left;
  background-size: 74px;
  position: relative;
  z-index: 2;
  top: 36.4px;
  height: 65px;
  width: 0px;
}

.rating-bg {
  background: url(../images/report_star.png) repeat-x top left;
  background-size: 74px;
  position: relative;
  z-index: 1;
  top: -28px;
  height: 65px;
  width: 370px;
}

.star-rating {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  & h2 {
    line-height: 0;
  }
}

/*vertical align table setup, div needs to be nested in valign class*/
.valign {
  display: table-row;
  height: 5rem;
  & div {
    vertical-align: middle;
    display: table-cell;
  }
}

.div-table {
  display: table;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/*Performance chart*/
.performance {
  & path:first-child {
    stroke: rgb(221, 221, 221);
    stroke-width: 7px;
    fill: none;
  }
  & path:nth-child(2) {
    stroke: rgb(221, 2, 221);
    stroke-width: 7px;
    fill: none;
  }
}

.domain {
  fill: none;
}

.x-axis line, .y-axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}


