/* Mixin that generates the rating element for the header and the KPI-Container*/
@mixin rating-element($size){
  margin-top: -($size/2);
  height: $size;
  width: $size;
}

@mixin rating-element-small($size){
  margin-top: -($size/4);
  margin-left: -($size/4);
  height: $size;
  width: $size;
  top: 0;
}

/* Variables like Color Values */
$color-negative: #f27779;
$color-positive: #6dbd58;
$color-container: #f4f3f3;
$white: #ffffff;
$color-brightblue: #1b9ad6;

/* Using that to use padding to position elements inside the containers without changing the width */
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Setting min and max width */
.container{
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
}


/* Header styling */
.header-top{
  padding: 1em 0;
}

.header-top__item{
  position: relative;
  &.no-box{
    text-align: center;
    background: $white;
    padding: 1em 0;
  }
  & > div{
    display: inline-block;
  }
  .text-content{
    border-radius: 10px;
    background: $color-container;
    width: 79%;
    height: 100%;
    line-height: 1;
  }
  &.left{
    .rating__element{
      left: 0;
    }
    .text-content{
      padding: 1em 0 1em 4.5em;
      margin-left: 10px;
    }
  }
  &.right{
    .rating__element{
      right: 0;
    }
    .text-content{
      margin-right: 10px;
      text-align: right;
      padding: 1em 4.5em 1em 0;
    }
  }
}

/* Styling of rating element */
.rating__element{
  position: absolute;
  top: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  @include rating-element(70px);
  &.small{
    @include rating-element-small(40px);
  }
}

.element__content{
  text-align: center;
  color: $white;
  margin-top: 60%;
}


.positive{
  .rating__element{
    background: $color-positive;
  }
}
.negative{
  .rating__element{
    background: $color-negative;
  }
}

/* Styling of the bigger KPI-Container */

.kpi-banner{
  padding: 0 13px;
  position: relative;
  margin-bottom: 13px;
  &.first{
    padding-left: 0;
  }
  &.last{
    padding-right: 0;
  }
  &.negative{
    .kpi-display-circle{
      border-color: $color-negative;
    }
  }
  &.positive{
    .kpi-display-circle{
      border-color: $color-positive;
    }
  }
  .kpi-container__content{
    background: $color-container;
    overflow: hidden;
    text-align: center;
  }
}

.kpi-display-circle{
  border: 7px solid black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  background: $white;
  margin-bottom: 20px;
}
.linechart{
  margin: 10px 0;
  path {
    stroke: $color-brightblue;
    stroke-width: 2;
    fill: none;
  }
}

table{
  width: 100%;
}

/*Styling for the bar chart comparison*/
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 14px sans-serif;
}

.line-comp-percentage div {
  width: 25%;
  float: left;
}

/*What went up & down table stylings*/
.pure-table-horizontal td, .pure-table-horizontal th {
  width: 20%;
}
