<top-header></top-header>
<div class="row">
    <h3>Key Performance Indicator (KPI)</h3>

    <div class="kpi-container">
        <div class="col-xs-4 text-center kpi-banner">
            <h4>Customer Orders</h4>

            <div>
                <kpi-banner total-number="customerOrdersData.totalNumber"
                            change-percent="customerOrdersData.changePercentage"
                            change-amount="customerOrdersData.changeAmount" line-data="customerTransactionsData"
                            line-average="customerOrdersData.monthlyAverage" currency-switch="'off'">
                    <line-chart></line-chart>
                </kpi-banner>

            </div>
        </div>
        <div class="col-xs-4 text-center kpi-banner">
            <h4>Revenue</h4>

	        <div>
		        <kpi-banner total-number="customerRevenueData.totalNumber"
		                    change-percent="customerRevenueData.changePercentage"
		                    change-amount="customerRevenueData.changeAmount" line-data="customerTransactionsData"
		                    line-average="customerRevenueData.monthlyAverage" currency-switch="'on'">
			        <line-chart></line-chart>
		        </kpi-banner>

	        </div>
        </div>
        <div class="col-xs-4 text-center kpi-banner">
            <h4>Products Sold</h4>

	        <div>
		        <kpi-banner total-number="customerOrdersData.totalNumber"
		                    change-percent="customerOrdersData.changePercentage"
		                    change-amount="customerOrdersData.changeAmount" line-data="customerTransactionsData"
		                    line-average="customerOrdersData.monthlyAverage" currency-switch="'off'">
			        <line-chart></line-chart>
		        </kpi-banner>

	        </div>
        </div>
    </div>

    <div>
        <div class="col-xs-4 text-center">
            <h4>Top Order</h4>

            <p>DATA</p>
        </div>
        <div class="col-xs-4 text-center">
            <h4>Peak Time</h4>

            <p>DATA</p>
        </div>
        <div class="col-xs-4 text-center">
            <h4>Avg. Product Rating</h4>

            <p>DATA</p>
        </div>
    </div>
</div>
<div class="row">
    <h3>Most Notable Changes</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>What went up</th>
            <th>Value</th>
            <th>Change</th>
            <th>Last 4 weeks</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Returning Customers</td>
            <td>DATA</td>
            <td>DATA</td>
            <td><half-pie></half-pie> <line-chart></line-chart></td>
        </tr>
        <tr>
            <td>Average Order Value (AOV)</td>
            <td>DATA</td>
            <td>DATA</td>
	        <td><half-pie></half-pie> <line-chart></line-chart></td>
        </tr>
        <tr>
            <td>Products Per Order (PPO)</td>
            <td>DATA</td>
            <td>DATA</td>
	        <td><half-pie></half-pie> <line-chart></line-chart></td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>What went down</th>
            <th>Value</th>
            <th>Change</th>
            <th>Last 4 weeks</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Customer Satisfaction</td>
            <td>DATA</td>
            <td>DATA</td>
	        <td><half-pie></half-pie> <line-chart></line-chart></td>
        </tr>
        <tr>
            <td>Review Conversion</td>
            <td>DATA</td>
            <td>DATA</td>
	        <td><half-pie></half-pie> <line-chart></line-chart></td>
        </tr>
        <tr>
            <td>Return Rate (RR)</td>
            <td>DATA</td>
            <td>DATA</td>
	        <td><half-pie></half-pie> <line-chart></line-chart></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <h3>Benchmark Comparison</h3>
    <div>
        <div class="col-xs-4 text-center">
            <h4>Customer Orders</h4>

            <div><img src="http://placehold.it/150x150"></div>
        </div>
        <div class="col-xs-4 text-center">
            <h4>Revenue</h4>

            <div><img src="http://placehold.it/150x150"></div>
        </div>
        <div class="col-xs-4 text-center">
            <h4>Products Sold</h4>

            <div><img src="http://placehold.it/150x150"></div>
        </div>
    </div>
</div>