<top-header page-name="'Overview'"></top-header>
<div class="row">
    <h3>Key Performance Indicator (KPI)</h3>

    <div class="kpi-container pure-g">
        <div class="pure-u-md-1-3 kpi-banner first" ng-class="{true: 'positive', false: 'negative'}[customerOrdersData.isPositive]">
            <div class="rating__element small"></div>
            <div class="kpi-container__content">
                <h4>Customer Orders</h4>
                <div class="kpi-display-circle">
                    <kpi-banner total-number="customerOrdersData.totalNumber"
                                change-percent="customerOrdersData.changePercentage"
                                change-amount="customerOrdersData.changeAmount" line-data="transactionCountMonthly"
                                line-average="customerOrdersData.weeklyAverage" currency-switch="'off'">
                        <line-chart line-data="transactionCountMonthly" width="150" height="30"></line-chart>
                    </kpi-banner>

                </div>
            </div>
        </div>


        <div class="pure-u-md-1-3 kpi-banner" ng-class="{true: 'positive', false: 'negative'}[customerRevenueData.isPositive]">
            <div class="rating__element small"></div>
            <div class="kpi-container__content">
                <h4>Revenue</h4>
                <div class="kpi-display-circle">
                    <kpi-banner total-number="customerRevenueData.totalNumber"
                                change-percent="customerRevenueData.changePercentage"
                                change-amount="customerRevenueData.changeAmount" line-data="revenueCountMonthly"
                                line-average="customerRevenueData.weeklyAverage" currency-switch="'on'">
                        <line-chart line-data="revenueCountMonthly" width="150" height="30"></line-chart>
                    </kpi-banner>
                </div>
            </div>
        </div>
        <div class="pure-u-md-1-3 kpi-banner last" ng-class="{true: 'positive', false: 'negative'}[customerProductData.isPositive]">
            <div class="rating__element small"></div>
            <div class="kpi-container__content">
                <h4>Products Sold</h4>
                <div class="kpi-display-circle">
                    <kpi-banner total-number="customerProductData.totalNumber"
                                change-percent="customerProductData.changePercentage"
                                change-amount="customerProductData.changeAmount" line-data="revenueCountMonthly"
                                line-average="customerProductData.weeklyAverage" currency-switch="'off'">
                        <line-chart line-data="revenueCountMonthly" width="150" height="30"></line-chart>
                    </kpi-banner>
                </div>
            </div>
        </div>
    </div>

    <div class="pure-g">
        <div class="pure-u-md-1-3 kpi-banner first">
            <div class="kpi-container__content">
                <h4>Top Order</h4>
                <p>DATA</p>
            </div>
        </div>
        <div class="pure-u-md-1-3 kpi-banner">
            <div class="kpi-container__content">
                <h4>Peak Time</h4>
                <p>DATA</p>
            </div>
        </div>
        <div class="pure-u-md-1-3 kpi-banner last">
            <div class="kpi-container__content">
                <h4>Avg. Product Rating</h4>
                <p>DATA</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h3>Most Notable Changes</h3>
    <table class="table pure-table pure-table-horizontal pure-table-striped">
        <thead>
        <tr>
            <th>What went up</th>
            <th>Last Week</th>
            <th><a href="" ng-click="reverseUp=!reverseUp">Changes (%)</a></th>
            <th>Last 4 weeks</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="change in mostNotableChanges|limitTo:3|orderBy:sorter:!reverseUp">
	        <td>{{ change.type }}</td>
	        <td>{{ change.lastWeek }}</td>
	        <td>{{ change.changePercentage }}% ({{ change.changeAmount }})</td>
	        <td> <line-chart line-data="change.lineData" width="300" height="30"></line-chart></td>
        </tr>
        </tbody>
    </table>
    <table class="table pure-table pure-table-horizontal pure-table-striped">
        <thead>
        <tr>
            <th>What went down</th>
            <th>Last Week</th>
            <th><a href="" ng-click="reverseDown=!reverseDown">Changes (%)</a></th>
            <th>Last 4 weeks</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="change in mostNotableChanges|limitTo:-3|orderBy:sorter:reverseDown">
	        <td>{{ change.type }}</td>
	        <td>{{ change.lastWeek }}</td>
	        <td>{{ change.changePercentage }}% ({{ change.changeAmount }})</td>
	        <td> <line-chart line-data="change.lineData" width="300" height="30"></line-chart></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="margin-bottom">
    <h3>Benchmark Comparison</h3>
    <div class="pure-g">
        <div class="pure-u-md-1-3">
	        <div class="rating__element small"></div>
            <h4>Customer Orders</h4>

            <div>
                <line-comp width="200" height="100" first-data="customerOrdersData.totalNumber"
                           second-data="customerOrdersData.totalNumberBenchmark"
		                first-percentage="customerOrdersData.changePercentage"
		                second-percentage="customerOrdersData.changePercentage"></line-comp>
            </div>
        </div>
        <div class="pure-u-md-1-3">
	        <div class="rating__element small"></div>
            <h4>Revenue</h4>

	        <div>
		        <line-comp width="200" height="100" first-data="customerRevenueData.totalNumber"
		                   second-data="customerRevenueData.totalNumberBenchmark"
		                   first-percentage="customerRevenueData.changePercentage"
		                   second-percentage="customerRevenueData.changePercentage"></line-comp>
	        </div>
        </div>
        <div class="pure-u-md-1-3">
	        <div class="rating__element small"></div>
            <h4>Products Sold</h4>

	        <div>
		        <line-comp width="200" height="100" first-data="customerProductData.totalNumber"
		                   second-data="customerProductData.totalNumberBenchmark"
		                   first-percentage="customerProductData.changePercentage"
		                   second-percentage="customerProductData.changePercentage"></line-comp>
	        </div>
        </div>
    </div>
</div>
<top-header page-name="'Product Report'"></top-header>
<div class="row">
	<h3>Sales Metrics</h3>
	<div class="kpi-container pure-g">
		<div class="pure-u-md-1-3 kpi-banner first" ng-class="{true: 'positive', false: 'negative'}[customerOrdersData.isPositive]">
			<div class="rating__element small"></div>
			<div class="kpi-container__content">
				<h4>Products Per Order</h4>
				<div>
					<half-pie average-value="1.8"
							max-value="3.8"
							min-value="1.2"
							change-percentage="82"
							height="110"
							width="200"></half-pie>
				</div>
			</div>
		</div>


		<div class="pure-u-md-1-3 kpi-banner" ng-class="{true: 'positive', false: 'negative'}[customerRevenueData.isPositive]">
			<div class="rating__element small"></div>
			<div class="kpi-container__content">
				<h4>Products Sold</h4>
				<div>
					<half-pie average-value="42"
					          max-value="59"
					          min-value="22"
					          change-percentage="12"
					          height="110"
					          width="200"></half-pie>
				</div>
			</div>
		</div>
		<div class="pure-u-md-1-3 kpi-banner last" ng-class="{true: 'positive', false: 'negative'}[customerProductData.isPositive]">
			<div class="rating__element small"></div>
			<div class="kpi-container__content">
				<h4>Average Order Value</h4>
				<div>
					<half-pie average-value="31"
					          max-value="50"
					          min-value="10"
					          change-percentage="1.3"
					          currency-switch="'on'"
					          height="110"
					          width="200"></half-pie>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row top-sell">
	<h3>Top Selling Products</h3>
	<table class="table pure-table pure-table-horizontal pure-table-striped">
		<thead>
		<tr>
			<th colspan="3">Ordered by quantity sold</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="product in topSellingProducts|limitTo:5|orderBy:'quantity':true">
			<td>{{ $index + 1 }}</td>
			<td>{{ product.name }}</td>
			<td>{{ product.quantity }} units</td>
		</tr>
		</tbody>
	</table>
	<table class="table pure-table pure-table-horizontal pure-table-striped">
		<thead>
		<tr>
			<th colspan="4">Ordered by revenue share</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="product in topSellingProducts|limitTo:5|orderBy:'revenueShare':true">
			<td>{{ $index + 1 }}</td>
			<td>{{ product.name }}</td>
			<td>{{ product.revenueShare }}%</td>
			<td>{{ product.revenueValue }} €</td>
		</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3>Product Insights</h3>
	<div class="pure-g">
		<div class="pure-u-md-1-2">
			<h4>Top 5 Categories</h4>
			<rectangle-pie rect-data="topFiveCategories"
					width="430"
					height="200"></rectangle-pie>
		</div>
		<div class="pure-u-md-1-2">
			<h4>Average Product Rating</h4>
		</div>
	</div>
</div>
<div class="row top-three">
	<h3>Top 3 Orders</h3>
	<table class="table pure-table pure-table-horizontal pure-table-striped">
		<thead>
		<tr>
			<th>Rank</th>
			<th>Items</th>
			<th>Value</th>
			<th>Time</th>
			<th>Location</th>
			<th>Most Expensive Product</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="order in topOrders|limitTo:3|orderBy:''">
			<td>{{ $index + 1 }}</td>
			<td>{{ order.items }}</td>
			<td>{{ order.value }}</td>
			<td>{{ order.time }}</td>
			<td>{{ order.location }}</td>
			<td>{{ order.mostExpensiveProduct }}</td>
		</tr>
		</tbody>
	</table>
</div>