<div class="pure-g header-top">
    <div class="pure-u-md-1-3 header-top__item left positive">
        <div class="rating__element"><p class="element__content">4%</p></div>
        <div class="text-content"><span>STORE NAME</span></div>
    </div>
    <div class="pure-u-md-1-3 header-top__item no-box"><h1>{{ pageName }}</h1></div>
    <div class="pure-u-md-1-3 header-top__item right negative">
        <div class="rating__element"><p class="element__content">4%</p></div>
        <div class="text-content"><span>Benchmark* Trend</span></div>
    </div>
</div>