<div class="pure-g header-top">
    <div class="pure-u-md-1-3 header-top__item left positive">
        <div class="rating__element"><p class="element__content">4%</p></div>
        <div class="text-content">STORE NAME</div>
    </div>
    <div class="pure-u-md-1-3 header-top__item no-box">ROUTE NAME</div>
    <div class="pure-u-md-1-3 header-top__item right negative">
        <div class="rating__element"><p class="element__content">4%</p></div>
        <div class="text-content">Benchmark* Trend</div>
    </div>
</div>